$breakpoint-tablet: 470px;
$breakpoint-mobileL: 415px;
$breakpoint-mobileM: 360px;
$breakpoint-mobileS: 300px;

.page-home {
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    background: #1d1d1d;

    .home-text {
        position: absolute;
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 8.0rem;
            color: #fff;

            @media screen and (max-width: $breakpoint-tablet) {
                font-size: 7.0rem;
            }

            @media screen and (max-width: $breakpoint-mobileL) {
                font-size: 6.0rem;
            }

            @media screen and (max-width: $breakpoint-mobileM) {
                font-size: 5.0rem;
            }

            @media screen and (max-width: $breakpoint-mobileS) {
                font-size: 4.0rem;
            }

            
            .my-name {
                color: #00f5d4;

                text-shadow: 0.5rem 0 0 #DB3069;
            }
            
            .portfolio {
                color: #DB3069;

                text-shadow: 0.5rem 0 0 #00f5d4;
            }
            
        }

    }
}

@keyframes flicker{

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff,
        0 0 150px #fff;

    }

    20%, 24%, 55% {        
        text-shadow: none;
    } 
}

/* media queries */
/* $breakpoint-tablet: 470px;
@media screen and (max-width: $breakpoint-tablet) {
    html {
        font-size: 50%;
    }
}

$breakpoint-mobileM: 375px;
@media screen and (max-width: $breakpoint-mobileM) {
    html {
        font-size: 45%;
    }
}

$breakpoint-mobileS: 320px;
@media screen and (max-width: $breakpoint-mobileM) {
    html {
        font-size: 35%;
    }
} */