.page-social {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #E69597;

    .content-social {
        display: flex;
        align-items: center;
    }
}