header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 20px 100px 10px 100px;
    position: absolute;

    font-family: 'Press Start 2P', cursive;
    color: #fff;
}